@model List<Cita>
<h1>CITAS</h1>
<p>
    <a class="btn btn-primary" asp-action="AgCita">Agregar Cita</a>
</p>


<div class="table-responsive">
    <table class="table table-striped">
        <thead class="table-primary">
            <tr>
                <th scope="col">Paciente</th>
                <th scope="col">Hora</th>
                <th scope="col">Fecha</th>
                <th scope="col">Tratamiento</th>
                <th scope="col">Doctor/a</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            @foreach(var cita in Model)
            {
                <tr class="table-light">
                    <td>@Html.DisplayFor(m=>cita.Paciente)</td>
                    <td>@Html.DisplayFor(m=>cita.Hora)</td>
                    <td>@Html.DisplayFor(m=>cita.Fecha)</td>
                    <td>@Html.DisplayFor(m=>cita.Tratamiento)</td>
                    <td>@Html.DisplayFor(m=>cita.Doctor)</td>
                    <td></td>
                </tr>
            }
        </tbody>
    </table>
</div>